<section class="contenedor mb-12">
    <h2 class="text-[4rem] font-black text-center lg:text-left">Experiencia Profesional</h2>

    <div class="mt-[5rem]">
        <h3 class="font-bold text-6xl text-center mb-8 text-indigo-500">E-Commerce Guitarras</h3>
        <div class="proyecto lg:flex lg:justify-between lg:items-center">
            <div class="imagen">
                <img src="./images/guitarla.png" alt="Imagen del proyecto">
            </div>
            <div class="enlaces flex justify-around mt-[2rem] lg:gap-12 lg:block">
                <a
                    href="https://guitarlanext-aless.vercel.app/"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Ver Demo
                </a>
                <a
                    href="https://github.com/AlessDeveloper01/GuitarLA-NextJS"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Repositorio
                </a>
            </div>
        </div>
    </div>
    <div class="mt-[5rem]">
        <h3 class="font-bold text-6xl text-center mb-8 text-indigo-500">Agencia De Viajes</h3>
        <div class="proyecto lg:flex lg:justify-between lg:items-center">
            <div class="imagen">
                <img src="./images/agenciadeviajes.png" alt="Imagen del proyecto">
            </div>
            <div class="enlaces flex justify-around mt-[2rem] lg:gap-12 lg:block">
                <a
                    href="#"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Ver Demo
                </a>
                <a
                    href="https://github.com/AlessDeveloper01/AgenciaDeViajesNode"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Repositorio
                </a>
            </div>
        </div>
    </div>
    <div class="mt-[5rem]">
        <h3 class="font-bold text-6xl text-center mb-8 text-indigo-500">Control De Gastos</h3>
        <div class="proyecto lg:flex lg:justify-between lg:items-center">
            <div class="imagen">
                <img src="./images/controlgastos.png" alt="Imagen del proyecto">
            </div>
            <div class="enlaces flex justify-around mt-[2rem] lg:gap-12 lg:block">
                <a
                    href="https://gastosale.netlify.app/"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Ver Demo
                </a>
                <a
                    href="#"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Repositorio
                </a>
            </div>
        </div>
    </div>
    <div class="mt-[5rem]">
        <h3 class="font-bold text-6xl text-center mb-8 text-indigo-500">Lading Page Cafeteria</h3>
        <div class="proyecto lg:flex lg:justify-between lg:items-center">
            <div class="imagen">
                <img src="./images/cafeteria.png" alt="Imagen del proyecto">
            </div>
            <div class="enlaces flex justify-around mt-[2rem] lg:gap-12 lg:block">
                <a
                    href="https://cafeteria-aless.netlify.app/"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Ver Demo
                </a>
                <a
                    href="#"
                    class="inline-flex lg:block w-auto cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-white px-3 py-2 text-2xl font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 lg:px-[8.75rem] lg:text-[2.75rem] lg:leading-[5rem]">
                Repositorio
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .proyecto .imagen {
        max-width: 80rem;
    }
</style>