<footer class="my-[5rem]">
    <div class="contenedor">
        <p class="text-center text-[3rem]">
            <a href="https://Github.com/AlessDeveloper01">
                Created by AlessDeveloper01 - 2023 &copy; All rights reserved
            </a>
        </p>
    </div>
</footer>