<header class="container md:grid md:grid-cols-5 md:gap-[4rem] md:grid-flow-dense md:items-center">
    <div class="imagen__propia">
        <img class="rounded-[50%] w-full max-w-[22.5rem] max-h-[22.5rem] md:max-w-[30rem] md:max-h-[30rem] lg:max-w-[50rem] lg:max-h-[50rem]" src="https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aGFja2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="Foto de Perfil Propia">
    </div>
    <div class="contenido">
        <h2 class="text-center font-bold text-[3rem]">Hola, mi nombre es Alessandro Rios, Soy estudiante de Ingenieria en Sistemas Computacionales</h2>
        <p class="text-center text-[2rem] mt-[2rem]">Soy estudiante en el Instituto Tecnologico De Oaxaca y actualmente estoy participando en el proyecto Oracle ONE en Alura Latam.
            Me gusta aprender cosas nuevas y me encanta la programación, me gusta mucho el diseño web y el desarrollo de aplicaciones móviles.
            Soy un desarrollador FullStack, pero me gusta más el FrontEnd, me gusta mucho el diseño y la experiencia de usuario.
        </p>
    </div>
</header>

 <div class="redes mt-[5rem] flex justify-between mb-[5rem] flex-wrap gap-[3rem]">
    <div class="redes_link">
        <a href="#" class="text-[3rem] md:text-[2.5rem] border border-gray-500 p-4 rounded-md hover:text-white hover:bg-gray-400 hover:transition-all hover:duration-300">LinkedIn<i class="fas fa-caret-down "></i></a>
    </div>
    <div class="redes_link">
        <a href="#" class="text-[3rem] md:text-[2.5rem] border border-gray-500 p-4 rounded-md hover:text-white hover:bg-gray-400 hover:transition-all hover:duration-300">Github<i class="fas fa-caret-down"></i></a>
    </div>
    <div class="redes_link">
        <a href="#" class="text-[3rem] md:text-[2.5rem] border border-gray-500 p-4 rounded-md hover:text-white hover:bg-gray-400 hover:transition-all hover:duration-300">Email<i class="fas fa-caret-down "></i></a>
    </div>
    <div class="redes_link">
        <a href="#" class="text-[3rem] md:text-[2.5rem] border border-gray-500 p-4 rounded-md hover:text-white hover:bg-gray-400 hover:transition-all hover:duration-300">Curriculum<i class="fas fa-caret-down "></i></a>
    </div>
</div>

<style>
    .imagen__propia {
        grid-column: 4 / 6;
    }

    .contenido {
        grid-column: 1 / 4;
    }
</style>