<nav class="flex flex-col text-center mt-[5rem] md:flex-row md:justify-between md:items-center">
    <div class="logo">
        <a class="font-black nombre__logo text-6xl" href="https://github.com/AlessDeveloper01">AlessDeveloper01</a>
    </div>

    <div class="contacto">
        <a href="mailto: riosalex979@gmail.com" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-black text-gray-900 rounded-lg group bg-gradient-to-br from-gray-100 to-gray-300 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 hover:transition-all hover:duration-300 focus:ring-4 focus:outline-none focus:ring-red-100 mt-[3rem] md:mt-0">
            <span class="relative px-5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 text-[2rem] py-[2rem]">
                Contactame Presiona
            </span>
        </a>
    </div>
</nav>

<h3 class="flex items-center my-8">
  <span aria-hidden="true" class="grow bg-gray-200 rounded h-0.5 dark:bg-gray-700/75"></span>
  <span class="text-[1.5rem] font-medium mx-3">Desarrollador FullStack</span>
  <span aria-hidden="true" class="grow bg-gray-200 rounded h-0.5 dark:bg-gray-700/75"></span>
</h3>


<style>
    .nombre__logo {
        font-family: 'Caprasimo', cursive;
    }
</style>