<section class="my-14 bg-slate-50 h-[100rem] lg:h-[40rem]">
    <div class="contenedor">
        <h2 class="font-black text-[4rem] text-center lg:text-left">Formacion Academica</h2>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 mt-12 place-content-center">
            <div class="bg-white shadow-md m-auto p-[2rem] w-[33rem] md:w-[38rem] h-[26rem] flex flex-col justify-between">
                <img class="imagen__profesion m-auto" src="https://logowik.com/content/uploads/images/instituto-tecnologico-de-oaxaca2218.logowik.com.webp">
                <div>
                    <h3 class="font-black text-center mt-[1rem]">Formacion Escolar: <span class="font-normal">Tecnologico De Oaxaca</span></h3>
                    <p class="text-center text-blue-500 font-bold text-[2rem]">En Curso</p>
                </div>
            </div>
            <div class="bg-white shadow-md m-auto p-[2rem] w-[33rem] md:w-[38rem] h-[26rem] flex flex-col justify-between">
                <img class="imagen__profesion m-auto" src="https://eduardout.github.io/Portafolio_Web-Oracle-ONE-Challenge/assets/img/educacion/aluraoracle.jpg">
                <div>
                    <h3 class="font-black text-center mt-[0.8rem]">Participando: <span class="font-normal">Oracle Next Education - Alura</span></h3>
                    <p class="text-center text-blue-500 font-bold text-[2rem]">En Curso</p>
                </div>
            </div>
            <div class="bg-white shadow-md m-auto p-[2rem] w-[33rem] md:w-[38rem] h-[26rem] flex flex-col justify-between">
                <img class="imagen__profesion m-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Udemy_logo.svg/2560px-Udemy_logo.svg.png">
                <div>
                    <h3 class="font-black text-center mt-[0.8rem]">Formacion Online: <span class="font-normal">Udemy</span></h3>
                    <p class="text-center text-blue-500 font-bold text-[2rem]">En Curso</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .imagen__profesion {
        width: 100%;
        max-width: 20rem;
        max-height: 14rem;
    }
</style>