<section class="bg-slate-50">
    <div class="contenedor py-[3rem]">
        <h2 class="text-[5rem] text-center lg:text-left nosotros font-black">Sobre Mi</h2>
        <p class="text-4xl lg:text-{3rem] lg:max-w-[91rem]">
            Mi nombre es Alessandro Rios, tengo 18 años y soy un estudiante de la carrera de Ingenieria en Sistemas Computacionales en el Instituto Tecnologico de Oaxaca, cuento con experiencia en el desarrollo de aplicaciones web y moviles, asi como tambien en el desarrollo de aplicaciones de escritorio, me gusta mucho la musica electronica, me considero una persona con mucha creatividad y me gusta mucho aprender cosas nuevas, actualmente, me encuentro estudiando sobre las mejores tecnologias asi como tambien un enfoque a la inteligencia artificial, ya que cuento con conocimientos de la Ingenieria Electronica.
        </p>
    </div>
</section>
